.center{
	width: 30%;
	margin:auto;
}

.signup-heading h4{
	color: #67b0d6;
	font-family: 'Roboto';
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 100px;
}


.signup-form-input{
	width: 100%;
	border:none;
	border-bottom: 1px solid #ccc;
	padding-bottom: 4px;
	margin-bottom: 30px;
}

.signup-form{
	padding-top: 15px;
}

.signup-form-select{
	width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    margin-bottom: 30px;
   font-family: 'Roboto';
    font-size: 14px;
    color: #999;
}

#dropdown {
    -webkit-appearance: none ;
    -moz-appearance: none ;
    appearance: none;
   
   
   	
  	background-image: url(../images/dropdown_arrow.png);
  	 background-repeat: no-repeat; 
  	 background-position: right center; 
  }

.signup-form-submit{
	width: 100%;
	border:none;
	background-color: #67b0d6;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #fff;
	font-family: 'Roboto';
	box-shadow: 0px 0px 1px #888;
	border-radius: 2px;
} 


@media screen and (max-width:980px){
	.center{
		width: 100%
	}

	.signup-heading h4{
		
		font-family: 'Roboto';
		font-size: 72px;
		text-transform: uppercase;
		text-align: center;
	}

	.signup-form-input{
		width: 100%;
		border:none;
		border-bottom: 1px solid #ccc;
		padding-bottom: 40px;
		font-size: 36px;
		margin-bottom: 50px;
	}

	.signup-form-select{
		width: 100%;
        border: none;
        border-bottom: 1px solid #ccc;
        padding-bottom: 40px;
        margin-bottom: 30px;
        font-family: "arial";
        font-size: 36px;
        color: #999;
	}


	.signup-form-submit{
		width: 100%;
		border:none;
		
		padding-top: 30px;
		padding-bottom: 30px;
		color: #fff;
		font-size: 36px;
		box-shadow: 0px 0px 1px #888;
		border-radius: 2px;
	} 


	::-webkit-input-placeholder {
        font-size: 36px !important;
        position: relative;
        top: 15px;
        
    }


    :-moz-placeholder { /* older Firefox*/
        font-size:36px;
        color: #d0cdfa;
        
    }

    ::-moz-placeholder { /* Firefox 19+ */ 
        font-size: 36px;
        color: #d0cdfa; 
        
    } 
    
    :-ms-input-placeholder { 
        font-size: 36px; 
        color: #d0cdfa;
        
    }

	
}


